
#titulo {
    font-family: sans-serif;
    margin-left: 22%;
    color: aqua;
    margin-top: 3%;
}

fieldset {
    border: 0
}

input, textarea, button {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
    color: aqua;
}

.campo label {
        margin-bottom: 0.2em;
        display: block;
    }

.campo input[type="text"], .campo input[type="email"], .campo select, .campo input[type="password"], .campo textarea {
        padding: 0.2em;
        border: 1px solid black;
        box-shadow: 2px 2px 2px;
        display: block;
        color: aqua;
    }

    .campo input:focus, .campo textarea:focus {
         background:#98eef1;
        
    }

.botao {
    font-size: 1.2em;
    border: 0;
    margin-bottom: 1em;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px;
    text-shadow: 1px 1px 1px;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

    .botao:hover {
        box-shadow: inset 2px 2px 2px;
        text-shadow: none;
    }

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: sans-serif;
    font-size: 1em;
    justify-content: center;
    background-color: #fff;
    background-image: linear-gradient(rgb(0 0 0), rgb(255 255 255 / 20%)), url('../image/Papel de parede Smarkets.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
